PORT=5000
MONGODB_URI=mongodb+srv://ashwiniboya61_db_user:aJnkicHTD62ZVTbt@cluster0.yzquzzc.mongodb.net/taskmanagement?appName=Cluster0
JWT_SECRET=taskmanager_9*2!kj@8pz
CLIENT_URL=http://localhost:5173
